$white: #FFFFFF;
$ghostWhite: #EDEDED;
$blue: #007DFC;
$lightBlue: #00acfc;
$lightBlue2: #00e9fa;
// $oxford: #00375c;
$oxford: #005CB8;
$darkBlue: #00253D;
$darkGray: #51596c;

$primary: $blue;
$primary-light: $lightBlue;
$primary-light-alt: $lightBlue2;
$primary-dark: $oxford;
$dark-gray: $darkGray;
$dark-blue: $darkBlue;